<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>게시판</title>
    <link rel="stylesheet" href="/webjars/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
	<!--  라우터 라이브러리 추가   -->
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <!-- vues 설치 -->
	<script src="/path/to/vue.js"></script>
	<script src="/path/to/vuex.js"></script>
</head>
<body class="container">
	<div id = 'app'>
		<router-link to = "/route1" id = "route">게시글 조회</router-link>
		<router-view></router-view>
	</div>
	<script type="text/x-template" id = "allHumorTemplate">
		<div>
		<div class="jumbotron">
	        <h2>스프링 부트 게시판</h2>
	    </div>
		<select v-model="selected">
    		<option disabled value="">Please select one</option>
    		<option>ID</option>
    		<option>TITLE</option>
    		<option>CONTENT</option>
  		</select>
		<span><input type="text"  v-model="inputStr"/></span>
		<span> <router-link v-bind:to = "{path:'route5?select='+ selected + '&input=' + inputStr}" > 검 색 </router-link> </span>
		<br><br>
		<table class="table">
	        <tr>
	            <th>글 번호</th>
	            <th>글쓴이</th>
	            <th>글 제목</th>
	            <th>작성 날짜</th>
	        </tr>
			<tr v-for="text in info">
				<td v-html="text.humorPK"></td>
				<td v-html="text.humorID"></td>
				<router-link v-bind:to = "{path:'route2?pk='+ text.humorPK}" > 
				<td v-html="text.humorTitle"></td> </router-link>
				<td v-html="text.humorDate"></td>
			</tr>

	        <tr th:each="i: ${#numbers.sequence(1, 10)}">
	            <td th:text="${i}"></td>
	            <td th:text="글쓴이 + ${i}"></td>
	            <td th:text="제목 + ${i}"></td>
	        </tr>
	    </table>
		
		<nav style="text-align: center;">
	        <ul class="pagination">
	            <li class="disabled">
	                <a href="#" aria-label="First">
	                    <span aria-hidden="true">First</span>
	                </a>
	            </li>
	            <li class="disabled">
	                <a href="#" aria-label="Previous">
	                    <span aria-hidden="true">&lt;</span>
	                </a>
	            </li>
	            <li class="active"><a href="#">1</a></li>
	            <li><a href="#">2</a></li>
	            <li><a href="#">3</a></li>
	            <li><a href="#">4</a></li>
	            <li><a href="#">5</a></li>
	            <li>
	                <a href="#" aria-label="Next">
	                    <span aria-hidden="true">&gt;</span>
	                </a>
	            </li>
	            <li>
	                <a href="#" aria-label="Last">
	                    <span aria-hidden="true">Last</span>
	                </a>
	            </li>
	        </ul>
	    </nav>
	<router-link to = "/route4" id = "route"> 글 작성 </router-link>

<a href="./regForm.html"> 회원가입^^ </a>
</div>
	</script>
	
	<script type="text/x-template" id="detailTemplate">
	<div>
		<div class="jumbotron">
	        <h2>스프링 부트 게시판</h2>
	    </div>
 		<table class="table">
		<tr>
			<th style="font-size: 20px;">제목</th><td ><p v-html="humor.humorTitle"></p></td>
		</tr>
  	    <tr>
			<th style="font-size: 20px;">작성자</th><td ><p v-html="humor.humorID"></p></td>
		</tr>
 		<tr>
			<th style="font-size: 20px;">내용</th><td ><p v-html="humor.humorContent"></p></td>
 		</tr>
  		</table>
		<router-link v-bind:to = "{path:'route3?pk='+ humor.humorPK}" > 수정  | </router-link>
		<a v-on:click="deleteH"> 삭제   </a><hr>	
	
	댓글 창
	<div v-if="reply != null">
		<table class="table">
			<tr v-for="r in reply">
				<img src="./img/user.png" width="45px" height="45px">
				<td v-html="r.humorReplyID"></td>
				<td v-html="r.humorReplyContent"></td> 
				<div v-if="humor.humorID === r.humorReplyID">
					<a v-on:click="flag = r.humorReplyPK"> 수정  || </a>
					<a v-on:click="deleteR(r.humorReplyPK)"> 삭제   </a>
				</div>
				 
			</tr>
			<tr v-if="flag > 0"> 
				<br><br><br>
				<td> 댓글 수정  : {{flag}}</td>
				<input type="text" v-model="rContent" placeholder="댓글을 수정하세요."/>
				{{rContent}}
				<a v-on:click="updateR(rContent)">댓글 수정</a><br>
			</tr>
	    </table>
	</div><hr>	
		
	<div>
		<input type="text" v-model="inputReply" placeholder="댓글을 입력하세요."/>
		<a v-on:click="addReply">댓글 등록</a><br>	
	</div>
</div>
	</script>
	 
	<script type="text/x-template" id="updateTemplate">
	<div>
		<div class="jumbotron">
			<h3 align="center" style="color: black;" >질문 수정</h3>
	    </div>
    	<div class="col-lg-7 mx-auto">
			<form  method = "post"  @submit.prevent="updateH">
            	<div class="control-group">
              		<div class="form-group floating-label-form-group controls mb-0 pb-2">
                		<label>ID</label>
               			<input type = "text" class="form-control" name = "userId" v-model="cuserId" disabled="disabled" >
                		<p class="help-block text-danger"></p>
              		</div>
            		</div>
            		<div class="control-group">
              			<div class="form-group floating-label-form-group controls mb-0 pb-2">
                			<label>Title</label>
                			<input  class="form-control" type = "text" name = "humorTitle" v-model="hTitle"  placeholder="Title" required="required" data-validation-required-message="Please enter title.">
               				<p class="help-block text-danger"></p>
              			</div>
            		</div>
            		<div class="control-group">
              			<div class="form-group floating-label-form-group controls mb-0 pb-2">
                			<label>Content</label>
                			<input class="form-control" type = "text" name = "humorContent" v-model="hContent" placeholder="Content" required="required" data-validation-required-message="Please enter content.">
                			<p class="help-block text-danger"></p>
              			</div>
            		</div><br>
						<button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton" value = "게시글 수정"> Edit</button>
          		</form>
        </div>
	</div>
	</script>
	<script type="text/x-template" id="findTemplate">
  		<div>
		<div class="jumbotron">
	        <h2>스프링 부트 게시판</h2>
	    </div>
		<select v-model="selected">
    		<option disabled value="">Please select one</option>
    		<option>ID</option>
    		<option>TITLE</option>
    		<option>CONTENT</option>
  		</select>
		<span><input type="text"  v-model="inputStr"/></span>
		<span> <router-link v-bind:to = "{path:'route5?select='+ selected + '&input=' + inputStr}" > 검 색 </router-link> </span>
		<br><br>
		<table class="table">
	        <tr>
	            <th>글 번호</th>
	            <th>글쓴이</th>
	            <th>글 제목</th>
	            <th>작성 날짜</th>
	        </tr>
			<tr v-for="text in findList">
				<td v-html="text.humorPK"></td>
				<td v-html="text.humorID"></td>
				<router-link v-bind:to = "{path:'route2?pk='+ text.humorPK}" > 
				<td v-html="text.humorTitle"></td> </router-link>
				<td v-html="text.humorDate"></td>
			</tr>

	        <tr th:each="i: ${#numbers.sequence(1, 10)}">
	            <td th:text="${i}"></td>
	            <td th:text="글쓴이 + ${i}"></td>
	            <td th:text="제목 + ${i}"></td>
	        </tr>
	    </table>
		
		<nav style="text-align: center;">
	        <ul class="pagination">
	            <li class="disabled">
	                <a href="#" aria-label="First">
	                    <span aria-hidden="true">First</span>
	                </a>
	            </li>
	            <li class="disabled">
	                <a href="#" aria-label="Previous">
	                    <span aria-hidden="true">&lt;</span>
	                </a>
	            </li>
	            <li class="active"><a href="#">1</a></li>
	            <li><a href="#">2</a></li>
	            <li><a href="#">3</a></li>
	            <li><a href="#">4</a></li>
	            <li><a href="#">5</a></li>
	            <li>
	                <a href="#" aria-label="Next">
	                    <span aria-hidden="true">&gt;</span>
	                </a>
	            </li>
	            <li>
	                <a href="#" aria-label="Last">
	                    <span aria-hidden="true">Last</span>
	                </a>
	            </li>
	        </ul>
	    </nav>
	<router-link to = "/route4" id = "route"> 글 작성 </router-link>
	</div>
	</script>
	
	<script type= "text/x-template" id = "createTemplate">
	<div>
		<form method = "post" id = "_frmForm" name = "frmForm" @submit.prevent="createH">
 	 	 <fieldset>
  		 <legend>질문등록 :</legend>
  		아이디 : <input type = "text" name = "humorID" v-model="hID "><br><br>
   		제목 : <input type = "text" name = "humorTitle" v-model="hTitle "><br><br>
  		 내용 : <input type = "text" name = "humorContent" v-model="hContent "><br><br>
			<button type="submit" name = "button">질문 등록</button>   
  		 </fieldset>
		</form>
	</div>
	</script>
	
	<script type="text/x-template" id="updateRTemplate">
	<div>
		<div class="jumbotron">
	        <h2>스프링 부트 게시판 - 댓글 수정</h2>
	    </div>
 		<table class="table">
		<tr>
			<th style="font-size: 20px;">제목</th><td ><p v-html="humor.humorTitle"></p></td>
		</tr>
  	    <tr>
			<th style="font-size: 20px;">작성자</th><td ><p v-html="humor.humorID"></p></td>
		</tr>
 		<tr>
			<th style="font-size: 20px;">내용</th><td ><p v-html="humor.humorContent"></p></td>
 		</tr>
  		</table>
		<router-link v-bind:to = "{path:'route3?pk='+ humor.humorPK}" > 수정  | </router-link>
		<a v-on:click="deleteH"> 삭제   </a>	
		<hr>

		<div v-if="reply != null">
		null???
		<table class="table">
			<tr v-for="r in reply">
				<img src="./img/user.png" width="45px" height="45px">
				<td v-html="r.humorReplyID"></td>
				<td v-html="r.humorReplyContent"></td> 
				<a v-on:click="deleteR(r.humorReplyPK)"> 삭제   </a> 
			</tr>
	    </table>
	</div><hr>	
	<div>
		<input type="text" v-model="inputReply" placeholder="댓글을 수정하세요."/>
		<a v-on:click="updateReply">댓글 수정</a><br>	
	</div>
</div>
	</script>
    
    <script type="text/javascript">
	var allHumor = Vue.component('allHumor', {
		template: '#allHumorTemplate',
		data(){
			return{
			 	info : [],
			 	loading: true,
		        errored: false,
		        selected : ''
			}			
	    },
	    mounted () {
	    	axios
	        .get('/api/selectAllHumor')
	        .then(response => (this.info = response.data))
	         .catch(error => {
	             console.log(error)
	             alert(error)
	             this.errored = true
	         })
	         .finally(() => this.loading = false)
	   }
	});
		
	var datailHumor = Vue.component('datailHumor',{
	    template: '#detailTemplate',
	    data(){
	        return {
	          loading: true,
	          errored: false,
	          pk : (window.location.href).split('=')[1],
	          humor : null,
	          reply : [],
	          inputReply : '',
	          rDate : '',
	          rPK : 0,
	          flag : -1,
	        }
	      },
	      mounted () {
            axios
	  		    .get('/api/selectHumorByNum/' + this.pk)
	  		    .then(response => (this.humor = response.data))
	  		    .catch(error => {
	  		      console.log(error)
	  		      this.errored = true
	  		    })
	  		    .finally(() => this.loading = false);
            	//
            	axios
      		        .get('/api/selectAllHumorReplyByNum/' + this.pk)
      		        .then(response => (this.reply = response.data))
      		         .catch(error => {
      		             console.log(error)
      		             this.errored = true
      		         })
      		         .finally(() => this.loading = false)
        	},
        	 methods: {
	      	 	deleteH() {
		      		 axios
			      		 .delete('/api/deleteHumor/' + this.pk)
			      		 .catch(error => {
				      		 console.log(error)
				      		 this.errored = true
			      		 })
			      		 .finally(() => this.loading = false);
			      			router.push('/route1');
			      	 	},
             	addReply() {
             		axios.post('/api/createReply',{
             			humorReplyPK : this.rPK,
             			humorPK : this.humor.humorPK,
             			humorReplyID : this.humor.humorID,
             			humorReplyContent : this.inputReply,
             			humorReplyDate: this.rDate
                      })
                      .then(function(response){
                    	  if(response.data.state=='succ'){
        	                  alert(response.data.total+"이 실행되었습니다.");
        	               }else{
        	                  alert(response.data.total+"에 실패하였습니다.");
        	               }
                      })
             	},
             	deleteR(rPK){
             		axios
		      		 .delete('/api/deleteHumorReply/' + rPK)
		      		 .catch(error => {
			      		 console.log(error)
			      		 this.errored = true
		      		 })
		      		 .finally(() => this.loading = false);
		      			router.push('/route1');
             		},
             		updateR(rContent){
                       axios.post('/api/updateHumorReply',{
                       	humorReplyPK : this.flag,
   		      			humorPK : this.humor.humorPK,
   		      			humorReplyID : this.humor.humorID,
   		      			humorReplyContent: rContent,
   		      			humorReplyDate : this.rDate
                        })
                        .then(function(response){
                        	alert("end?");
                      	  router.push('/route1');
                        })
                        alert("댓글 수정 완료");
                        router.push('/route1');
                   	}
        	 	}
        	});	
	
	var updateHumor = Vue.component('updateHumor',{
	    template: '#updateTemplate',
	    data(){
	        return {
	          loading: true,
	          errored: false,
	          pk : (window.location.href).split('=')[1],
	          humor : null,
	          hTitle : '',
	          hContent : ''
	        }
	      },
	      mounted () {
	    	  axios
	  		    .get('/api/selectHumorByNum/' + this.pk)
	  		    .then(response => (this.humor = response.data))
	  		    .catch(error => {
	  		      console.log(error)
	  		      this.errored = true
	  		    })
	  		    .finally(() => this.loading = false); 
         },
	      methods: {
             updateH(){
                 axios.post('/api/updateHumor',{
                	humorPK : this.humor.humorPK,
                	humorID : this.humor.humorID,
                	humorTitle : this.hTitle,
                	humorContent: this.hContent,
                	humorDate : this.humor.humorDate,
                	humorCount : this.humor.humorCount,
                	humorImgURL : this.humor.humorImgURL
                  })
                  .then(function(response){
                	  router.push('/route1');
                      alert(response.data.total+"이 실행되었습니다.");
                  })
             	}
	         }
        });	
		
	var createHumor = Vue.component('createHumor',{
	    template: '#createTemplate',
	    data(){
	        return {
	          loading: true,
	          errored: false,
	          humor : null,
	          pk : (window.location.href).split('=')[1],
	          hID : '',
	          hTitle : '',
	          hContent : '',
	          hDate : '',
	          hCount : 0,
	          humorImgURL : ''
	        }
	      },
	      methods: {
             createH(){
                 axios.post('/api/createHumor',{
                	humorID : this.hID,
                	humorTitle : this.hTitle,
                	humorContent: this.hContent,
                	humorDate : this.hDate,
                	humorCount : this.hCount,
                	humorImgURL : this.humorImgURL
                  })
                  .then(function(response){
                	  if(response.data.state=='succ'){
    	                  alert(response.data.total+"이 실행되었습니다.");
    	               }else{
    	                  alert(response.data.total+"에 실패하였습니다.");
    	               }
                  })
             	}
	         }
        });	
	
	var findHumor = Vue.component('findHumor',{
	    template: '#findTemplate',
	    data(){
	        return {
	          loading: true,
	          errored: false,
	          findList : [],
	          selected : (window.location.href).split('select=')[1]
	        }
	      },
	      mounted () {
	          axios
	          	.get('/api/selectHumor/' + this.selected)
	            .then(response => (this.findList = response.data))
	            .catch(error => {
	              console.log(error)
	              this.errored = true
	            })
	            .finally(() => this.loading = false)
	        } 
	});
	
	/* var allReply = Vue.component('allReply', {
		template: '#allReplyTemplate',
		data(){
			return{
			 	reply : [],
			 	loading: true,
		        errored: false,
		        pk : (window.location.href).split('=')[1]
			}			
	    },
	    mounted () {
	    	axios
	        .get('/api/selectAllHumorReplyByNum/' + this.pk)
	        .then(response => (this.reply = response.data))
	         .catch(error => {
	             console.log(error)
	             alert(error)
	             this.errored = true
	         })
	         .finally(() => this.loading = false)
	   }
	}); */
	/* var updateReply = Vue.component('updateReply',{
	    template: '#updateRTemplate',
	    data(){
	        return {
	          loading: true,
	          errored: false,
	          pk : (window.location.href).split('=')[1],
	          humor : null,
	          hTitle : '',
	          rContent : '',
	          reply : []
	        }
	      },
	      mounted () {
	    	  axios
	  		    .get('/api/selectHumorByNum/' + this.pk)
	  		    .then(response => (this.humor = response.data))
	  		    .catch(error => {
	  		      console.log(error)
	  		      this.errored = true
	  		    })
	  		    .finally(() => this.loading = false); 
	    	   alert("bb"); 
	    	 // 
			axios
  		        .get('/api/selectAllHumorReplyByNum/' + this.pk)
  		        .then(response => (this.reply = response.data))
  		         .catch(error => {
  		             console.log(error)
  		             this.errored = true
  		         })
  		         .finally(() => this.loading = false)
	         
	          alert("댓글 가져와"); 
         },
	      methods: {
	    	    
		      	updateReply(rPK){
		      		 axios.post('/api/updateHumorReply',{
		      			humorReplyPK : rPK,
		      			humorPK : this.humor.humorPK,
		      			humorReplyID : this.reply.humorID,
		      			humorReplyContent: this.rContent,
		      			humorReplyDate : this.reply.humorReplyDate
	                  })
	                  .then(function(response){
	                	  router.push('/route1');
	                      alert(response.data.total+"이 실행되었습니다.");
	                  })
		      	}
	         }
        });	 */
	
        
	const routes = [  
	   { path: '/route1', component: allHumor },
	   { path: '/route2', component: datailHumor },
	   { path: '/route3', component: updateHumor },
	   { path: '/route4', component: createHumor },
	   { path: '/route5', component: findHumor }
	];
        
	const router = new VueRouter({
	   routes   
	});
	
	var App=new Vue({
	  el: '#app',
	  router
	})
	</script>
</body>
</html>